@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Limelight&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

/* ------------------------------- Dividers & Buttons */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
    display: block;
}



.btn-dark:hover, .btn-light:hover {
    color: #000000;
    background-color: #F45B5E;
    border-color: #F45B5E;
}

/* ------------------------------- Navbar */


.navbar {
    border-color: transparent;
    text-transform: uppercase;
    background: rgba(241, 241, 241, 0.8);
    padding: 10px;
}

.navbar .navbar-collapse {
    text-align: right;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

.logo-main {
    height: 40px;
    width: auto;
    
}

/* ------------------------------- Jumbotron */

/* Originally I had the hero image be a full screen image but I didnt like the navbar covering it when you first arrive
on the page so gave it a small gap at the top. I've done the same for each section. */
.hero-image {
    height: 89vh;
    width: 100%;
    background: url(../images/229.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: left;
    position: relative;
    margin-top: 70px;
    padding: 0;
}

@media (hover: none) {
    .hero-image {
        background-attachment: scroll;
    }
    
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron-header {
    font-family: 'Limelight', sans-serif;
    text-align: left;
}

.hero-cta {
    margin: auto 0;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 540px){
    .hero-cta {
        margin: 50vh 0 10vh 0;
        text-align: right;
    }
    .jumbotron-header {
        text-align: right;
    }
}

/* ------------------------------- About */

.about-image {
    width: 80%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-box {
    padding-top: 70px;
    margin: auto 0;
}

.about-section {
    margin-top: 0;
    padding-top: 0;
    background: #e0e0e0;
}

.about-logo {
    padding-bottom: 20px;
    width: 100%;    
}

.blockquote {
    line-height: 0.5;
}

/* ------------------------------- Cast & Crew */

/* I wanted to create space for the navbar on this section but it was made harder with the background image so I 
added a top border and removed all padding from the About section. */
#who {
    background: #737373;
    width: 100vw;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
    border-top: 70px solid #e0e0e0;
}

.card-body {
    padding: 1rem 0 0 0;
}

.cast-cards {
    display: inline-table;
    justify-content: center;
    align-items: center;

}

/* With the cards I have made it so that on a desktop they will be opaque and go solid when the mouse hovers over them
however I didnt think this effect would have the same impact on a tablet or desktop without a mouse so have removed
this property when the screen is smaller. */
.card {
    background-color: #fdfdfd;
    border-radius: 2.5%;
    width: auto;
    margin: 5px 0;
    padding: 15px;
    opacity: 0.8;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    height: 761px;
}

@media screen and (max-width: 960px){
    .card {
        opacity: 1;
    }
}

.card:hover {
    opacity: 1;
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1.1em;
    font-weight: bold;
}

.card-body .card-text {
    font-size: 1.07em;
}

.card-link {
    font-size: 34px;
    display: inline-block;
    margin: auto;
    color: #4a4a4a;
    transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
}

.card-img-top {
    filter: grayscale(100%);
}

a:hover {
    color: #F45B5E;
}

/* ------------------------------- Book Tickets */


.container {
    padding: 0;
    margin: 0;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 100%;
}

@media screen and (max-width: 960px){
    .map-container {
        height: 400px;
    }
    #map-container-google-1 {
    padding-top: 30px;
    }
}

.map-container iframe {
    left:0;
    height:100%;
    width:100%;
    position:absolute;
}

.times {
    background: #f0f0f0;
    display: flex;
    justify-content: left;
    position: relative;
    font-family: "Roboto", sans-serif;
    padding: 70px 0;
}

.book-table-center {
    margin-left: auto;
    margin-right: auto;
}

.book-table-heading {
    background-color: #333333;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 1.5em;
    letter-spacing: -0.01em;
    font-weight: 600;
    margin-bottom: 0;
}

.book-table-choose {
    background-color: #595a6d;
    color: #ffffff;
    padding: 4px 16px;
    font-weight: 500;
    font-size: 0.95em;
    margin-bottom: 0;
}

.book-table {
    background-color: #F45B5E;
    padding-bottom: 1px;
    width: auto;
    font-size: 14px;
    padding-left: 16px;
}

.table-row {
    border-top: 10px solid #F45B5E;
    border-bottom: 10px solid #F45B5E;
}

.table-col1 {
    text-align: center;
    color: white;
    padding: 4px 16px;
}

.table-day {
    color: #ecb0b0
}

.table-date {
    color: #fdfdfd;
    font-size: 1.5em;
    display: block;
}

.table-time {
    font-size: 1.5em;
}


.table-col2 {
    background-color: black;
    text-align: center;
    border-left: 30px solid #F45B5E;
    border-right: 30px solid #F45B5E;
    transition: background .3s ease-out;
    -moz-transition: background .3s ease-out;
    -webkit-transition: background .3s ease-out;
}

.table-col2 a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.table-col2:hover {
    background-color: #545454;
}

.table td {
    padding: 0;
    vertical-align: middle;
}

/* ------------------------------- Footer */


.footer {
  height: 150px
}

.social-networks {
  text-align: center;
}

.social-networks li {
  display: inline
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 4%;
    color: #777777;
    transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
}

.social-networks i:hover {
    color: #F45B5E;
}