@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.logo-main{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10%;
}

.hero-image {
     height: 100vh;
     width: 100%;
    background: url(../images/229.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: left;
  position: relative;
}

.navbar {
    background: none;
    border-color: transparent;
    text-transform: uppercase;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 20px 25px 15px 25px;
    color: transparent;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

.logo-image {
    width: 100%;
    position: relative;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
    display: block;
}

.jumbotron-message {
    display: flex;
    align-items: left;
}

.jumbotron {
    margin-bottom: 0;
}

.hero-cta {
    margin: auto 0;
}

.btn-dark:hover, .btn-light:hover {
    color: #000000;
    background-color: #F45B5E;
    border-color: #F45B5E;
}

.about-image {
    width: 200px;
    border-radius: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-box {
    padding-top: 80px;
    padding-bottom: 40px;
    margin: auto 0;
}

.about-section {
    margin-top: 0;
    padding-top: 0;
    background: #e0e0e0;
}

/*----------*/

#who {
    background-attachment: fixed;
    background-image: url('../images/361.JPG');
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
}

.card-body .row {
    text-align: center;
    padding-top: 10px;
}

.cast-cards {
    display: inline-table;
    justify-content: center;
    align-items: center;

}

.card {
    background-color: #fdfdfd;
    border-radius: 2.5%;
    width: auto;
    margin: 15% auto;
    padding: 15px;
    opacity: 0.8;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.card:hover {
    opacity: 1;
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1.1em;
    font-weight: bold;
}

.card-body .card-text {
    font-size: 1.07em;
}

.card-link {
    padding: 20px 0;
    font-size: 34px;
    height: 54px;
    display: inline-block;
    margin: auto;
    color: #4a4a4a
}

.card-img-top {
    filter: grayscale(100%);
}

a:hover {
    color: #F45B5E;
}

.container {
    padding: 0;
    margin: 0;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 300px;
    padding-top: 20px;
}

.map-container iframe {
    left:0;
    height:100%;
    width:100%;
    position:absolute;
}

.times {
    background: #e0e0e0;
    font-family: "Roboto", sans-serif;
    padding: 30px 0;
}

.dates {
    color: #fafafa;
    background-color: rgba(0,0,0, .6);
    width: 48%;
    float: left;
    text-align: center;
    padding: 4% 0;
    margin-top: 20px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 5%;
    opacity: 0.8;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.dates-heading {
    margin-top: 10px;
}

.dates h3 {
    font-weight: 500;
}

.dates h4, p {
    font-weight: 100;
}

.dates:hover {
    opacity: 1;
}
